fastapi
uvicorn
openai>=1.0.0
langchain
rdkit-pypi
aizynthfinder
requests
chemdataextractor[chemistry,models,parser,database]
sqlalchemy
pydantic
passlib[bcrypt]
python-jose[cryptography]
email-validator
python-dotenv
